* {
  margin: 0;
  padding: 0;
}

.app-wrapper {
 width: 1200px;
 margin: 0 auto;
 display: grid;
 grid-template-rows: 60px 1fr;
 grid-template-columns: 2fr 10fr;
 /* grid-gap: 10px; */
 grid-template-areas: 
  "header header"
  "nav content" 
 ;
}

header {
  background-color: lightgreen;
  grid-area: header;
}

header img {
  width: 60px;
}

nav {
  background-color: lightsalmon;
  grid-area: nav;
}

.content {
  background-color: lightskyblue;
  grid-area: content;
}

.content img {
  width: 100%;

}
