.nav {
    background-color: lightsalmon;
    grid-area: nav;
    padding: 10px;
    text-align: center;
  }

.nav ul li {
    list-style: none;
    margin: 3px;
}  

.link {
    color: blue;
    text-decoration: none;
    text-transform: uppercase;
}

.link:hover {
    color: darkblue;
    text-decoration: underline;
}

.link:focus {
    outline: none;
}

.active {
    color: lightgreen;
}

.friendsBlock {
    display: flex;
    /* flex-wrap: wrap; */
}

.friends {
    margin-top: 30px;
}

.friends h2 {

    color: green;  
    margin: 0 auto;
    text-align: center; 
}

